<a-mixin id="tile" geometry="primitive: box; depth: 1; height: .3; width: 1" n-mesh-collider="type: environment"></a-mixin>

<a-entity position="{{ position }}">
	<a-entity id="dtile mixin="tile">
</a-entity>
