<a-entity class="dtile" position="{{ position }}">
<a-box id="box" size='1 .1 1' n-mesh-collider="type: environment"></a-box>
	<a-entity id="trigger"
		n-box-collider="isTrigger:true; type:environment; size: 1 3 1"
		n-container="capacity:1"
		wire="targets:#box; gained: container-full; emit: change-color"
		wire_0="targets:#box; lost: container-full; emit: color-default">
	</a-entity>
</a-entity>
